@tailwind base;
@tailwind utilities;
@tailwind components;



.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  html{
    scroll-behavior:smooth;
  }